
body{
background-color: white;
background-size: 30%;
display: flex;
margin: auto;
height: auto;

}
article{
    background: rgb(14, 240, 6);
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-column-start: 3;
    grid-column-end: 5;
    gap: 1.5rem;
    padding-block: 2rem;
    width:45%(70rem) ;
    margin-inline: auto;
    color: rgb(255, 255, 255);
    width: 750px;
    padding: 10px;
}
aside{
    background: rgb(255, 251, 0);
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-column-start: 3;
    grid-column-end: 5;
    color: #ffffff;
    gap: 1.5rem;
    padding-block: 2rem;
    width:45%(70rem) ;
    margin-inline: auto;
    width: 750px;
    padding: 10px;
}